.nav {
    float: left;
    background: black;
    padding: 10px;
}

.nav .item {
    margin-bottom: 10px;
}

.nav .item a {
    color: #fff;
    text-decoration: none;
}

.nav .item a.active {
    color: gold;
}